.App {
  text-align: center;
}

.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}

.column {
  float: left;
}

/* Left and right column */
.column.side {
  width: 33%;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

/* Middle column */
.column.middle {
  width: 67%;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}